[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = git@github.com:aws-quickstart/quickstart-aws-vpc.git
	branch = master
[submodule "submodules/quickstart-compliance-common"]
	path = submodules/quickstart-compliance-common
	url = git@github.com:aws-quickstart/quickstart-compliance-common.git
	branch = master
[submodule "submodules/quickstart-linux-bastion"]
	path = submodules/quickstart-linux-bastion
	url = git@github.com:aws-quickstart/quickstart-linux-bastion.git
	branch = master
[submodule "submodules/quickstart-chemaxon-registry"]
	path = submodules/quickstart-chemaxon-registry
	url = git@github.com:aws-quickstart/quickstart-chemaxon-registry.git
	branch = develop 
[submodule "submodules/quickstart-benchling-platform"]
	path = submodules/quickstart-benchling-platform
	url = git@github.com:aws-quickstart/quickstart-benchling-platform.git
	branch = master
