taskcat_outputs/

.vscode

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

# taskcat
taskcat_outputs
lambda_functions/packages/
